* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 350px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}
h1{
    color:#092643;
    font-size:3rem;
    text-shadow:2px 2px 4px grey;
}
h2{
    color:white;
    font-size: 2.5rem;
    text-shadow:2px 2px 4px grey;
}
h3{
    color:black;
    font-size:1.5rem;
}
.logo {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #34495e;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar nav ul li {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar nav ul li:hover {
    background-color: #34495e;
    cursor: pointer;
}

.sidebar nav ul li.active {
    background-color: #3498db;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a i {
    margin-right: 10px;
    width: 20px;
}

.logout {
    margin-top: 50px;
}

/* Main Content Styles */
h1{
    color: #0f546b;
}
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f5f6fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Summary Cards Styles */
.summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    background-color: rgb(105,152,171);
     background-image: url('Auditorium_bg_2.jpeg');
            
    /* Ensure the image covers the whole page */
    background-size: cover;
    
    /* Position the background image */
    background-position: center center;
    
    /* Make sure the background image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Set the height to fill the screen */
    height: 100vh; 
}

.card {
    background-color: white;
    margin-left:30px;
    margin-top:50px;
    padding: 20px;
    width:300px;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card i {
    font-size: 25px;
    color: #3498db;
}

.card h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.card span {
    color: #7f8c8d;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
    }
    
    .summary-cards {
        grid-template-columns: 1fr;
    }
}