# -------------------------------
# Deployment
# -------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auditorium-booking-frontend
  labels:
    app: auditorium-booking-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auditorium-booking-frontend
  template:
    metadata:
      labels:
        app: auditorium-booking-frontend
    spec:
      containers:
      - name: frontend
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/project-namespace/auditorium-booking-frontend:latest
        ports:
        - containerPort: 80

---
# -------------------------------
# Service
# -------------------------------
apiVersion: v1
kind: Service
metadata:
  name: auditorium-booking-frontend-service
spec:
  type: ClusterIP
  selector:
    app: auditorium-booking-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

---
# -------------------------------
# Ingress
# -------------------------------
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auditorium-booking-frontend-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: auditorium.imcc.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: auditorium-booking-frontend-service
            port:
              number: 80
