/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #c2d0ea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Auditorium_bg_2.jpeg');
            
    /* Ensure the image covers the whole page */
    background-size: cover;
    
    /* Position the background image */
    background-position: center center;
    
    /* Make sure the background image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Set the height to fill the screen */
    height: 100vh;
  }
  
  /* Form container styling */
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.1);

  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #09323c;
  }
  
  .form-container label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .form-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .form-container .form-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
  }
  
  .form-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .color-text {
    color: rgb(71, 18, 5);
  }

  .heading-text{
    color: #4f460d;
    background: linear-gradient(to right, #a2c7ed, #605e71); /* Gradient background */
    padding: 10px 50px; /* Add space around the text */
    border-radius: 5px; 
  }
  .form-footer a:hover {
    text-decoration: underline;
  }
  
  .form-switch {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form-switch button {
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .form-switch button:hover {
    background-color: #ddd;
  }
  
  /* Responsive styles */
  @media (max-width: 500px) {
    .form-container {
      padding: 20px;
      width: 90%;
    }
  
    .form-container h2 {
      font-size: 20px;
    }
  }

  
  